<div id="survey-comments-wrapper">
  
  <div class="callout primary">
     <p><%= t("debates.show.survey_help") %></p>
  </div>

  <div class="callout secondary survey-debate-description">
    <strong><%= debate.title %></strong>
    <%= raw debate.description %>
  </div>

  <div id="survey-comments-container">
    <% debate.comments.each_with_index do |comment, index| %>
      <div class="survey-comment-slide" data-index="<%= index %>">
        <%= render "comments/comment", comment: comment, valuation: false, show_replies: false, vote_style: :survey %>
      </div>
    <% end %>

    <div id="survey-no-comments" style="display: none;">
      <p><%= t("comments.show.no_comments") %></p>
    </div>
  </div>

  <div class="survey-comments-navigation">
    <button class="button" id="survey-prev-button">
      &larr; Previous Comment
    </button>
    <span class="survey-comments-counter" id="survey-counter">
    </span>
    <button class="button" id="survey-next-button">
      Next Comment &rarr;
    </button>
  </div>

  <div class="survey-comments-add-new">
  <% if current_user %>
    <%= render Comments::FormComponent.new(debate, valuation: false) %>
  <% else %>
    <%= render "shared/login_to_comment" %>
  <% end %>
</div>


</div>