<%# app/components/comments/votes_component.html.erb %>

<% if @vote_style == :survey %>
  <%# --- SURVEY MODE --- %>
  <%= render Shared::InFavorNeutralAgainstComponent.new(comment) %>

<% else %>
  <%# --- DEFAULT MODE --- %>
  <strong><%= t("comments.comment.votes", count: comment.total_votes) %></strong>
  &nbsp;|&nbsp;

  <div class="in-favor">
    <%= render Shared::VoteButtonComponent.new(@comment,
                                               weight: 1,
                                               title: t("votes.agree")) %>
    <%= yes_votes_count %>
  </div>

  <div class="neutral">
    <%= render Shared::VoteButtonComponent.new(@comment,
                                               weight: 0,
                                               title: t("votes.dont_know")) %>
  </div>

  <div class="against">
    <%= render Shared::VoteButtonComponent.new(@comment,
                                               weight: -1,
                                               title: t("votes.disagree")) %>
    <%= no_votes_count %>
  </div>
  
<% end %>